body {
    font-family: Arial, Helvetica, sans-serif, cursive;
}

h1 {
    font-family: carterOne, cursive;
}

main {
    width: 90%;
    margin: auto 0;
}

nav {
    background-color: rgb(37, 36, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em top bottom 15px, 3em left right 45px;
    /* padding-left: '';
    padding-right: ;
    padding-top: ;
    padding-bottom: ; */
}

nav {
    margin-bottom: 1em 15px;
} 

a {
    text-decoration: none;
    color: rgb(235, 94, 40);
}

h4 {
    font-size: 15px;
    text-align: center;
}

.Snacks article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
} 

.Snacks div {
    width: 150px;
    padding: 1em;
    background-color: rgb(255, 252, 242);
}

.Snacks img {
    width: 150px
}